.doc-main {
  padding: 0 20px;
  @media (min-width: 1200px) {
    max-width: 60vw;
  }
}
.full-img img {
  width: 100%;
}
pre {
  overflow: scroll;
}
.doc-section-nav {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
  position: fixed !important;
}

.doc-intro , .doc-section-label{
  font-size: 2rem;
  margin: 50px 0 20px 0;
}
.doc-section-description{
  margin: 10px 0;
}
// li:not(.p-menuitem):not(.formkit-message) {
//   color: var(--surface-800);
//   font-size: 18px;
//   margin: 20px 10px;
//   // list-style: none;
// }


strong,
h1,
h2 {
  font-weight: 600;
}

p {
  font-size: 1.125rem;
  color: var(--surface-800);
}
.layout-wrapper {
  &:not(.layout-sidebar-active) {
    & .icon-logo {
      display: flex !important;
    }
  }

  &.layout-sidebar-active {
    & .all-logo {
      display: flex !important;
    }
  }
  & aside.desktop-menu:hover {
    & .icon-logo {
      display: none !important;
    }
    & .all-logo {
      display: flex !important;
    }
  }
}
